body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

header{
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

}

.nav-menu {
    margin: auto;
    display: flex;
    width: 1400px
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
    list-style-type: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
    
}

.link {
    text-decoration: none;
}

.content-block {
    width: 599px 368px;
    margin: 92px 400px;
}

.title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 64.8px */
}

.content-color {
    width: 100%; 
    height: 100%; 
    padding-top: 92px; 
    padding-bottom: 92px; 
    padding-left: 401px; 
    padding-right: 400px; 
    background: #00BDC9; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
}
.content-div {
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
}

.text {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 31.5px */
}

.text-color {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.text-div {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.button-div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: #04959E;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
}


footer {
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
}

.footer-text {
    width: 100%; 
    height: 100%; 
    padding-top: 16px; 
    padding-bottom: 16px; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex;
}

.line {
    width: 100%; 
    height: 100%; 
    background: #161616
    
}